$colors: (
  text: #333,
  blockquote: #EF5350,
  light: #eeeff0
);

#wrapper > * {
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", "mr-eaves-modern", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  p, ul, ol {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.021em;
    line-height: 1.52947;
    color: map-get($colors, text);
  }

  ul:not(.collection) {
    padding-left: 40px;

    li {
      list-style: initial;
    }
  }

  li {
    margin-bottom: 12px;
  }

  h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: map-get($colors, text);
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 40px;
    line-height: 1.05;
    letter-spacing: .008em;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 14px;
  }

  h2 {
    font-size: 35px;
  }


  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 14px;
  }

  blockquote {
    margin: 0;
    display: block;
    line-height: 1.5;
    color: map-get($colors, text);
    border-left: 3px solid map-get($colors, blockquote);
    padding-left: 20px;
    margin-left: -26px;
    margin-bottom: 30px;

    font-style: italic;
    letter-spacing: -.003em;

  }

  figure {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
  }

  figcaption {
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #666665;
    font-style: italic;
    font-size: 14px;
  }

  hr {
    width: 100%;
    margin: 50px auto 40px auto;
    border: 0;
    border-top: 1px solid map-get($colors, light);
  }

  pre {
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    border: 0px;
  }

  strong {
    font-weight: 600;
  }
}