/**

,-----.            ,--.
|  |) /_  ,--.,--. |  |,-.
|  .-.  \ |  ||  | |     /
|  '--' / '  ''  ' |  \  \
`------'   `----'  `--'`--'

_variables.scss
Variables.
 */

$buk-color: #EF5350;

$colors: (
        text: #333,
        accent: $buk-color,
        light: #eeeff0
);