// Custom fonts.
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "~material-icons/css/material-icons.min.css";

// Material icons.
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local('Material Icons'),local('MaterialIcons-Regular'),url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}

// Materialize stylesheet.
$roboto-font-path: "/dist/fonts/roboto/" !default;
@import "~materialize-css/sass/materialize.scss";

// Highlight.js (https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css)
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#f8f8f8}.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}.hljs-string,.hljs-doctag{color:#d14}.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}.hljs-subst{font-weight:normal}.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}.hljs-regexp,.hljs-link{color:#009926}.hljs-symbol,.hljs-bullet{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

// Custom styling.
$buk-color: #EF5350;

/*
  Common style to all themes.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

hr {
  width: 14%;
  margin: 50px auto 50px auto;
  border: 0;
  border-top: 1px solid #dededc;
}

// Focused input style
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $buk-color;
  box-shadow: 0 1px 0 0 $buk-color;
}

// Focused label style
input[type=text]:focus:not([readonly])+label {
  color: $buk-color;
}

// Wrapper width.
@media only screen and (min-width: 601px) {
  #wrapper {
    width: 100%;
  }
}

// Code formatting.
code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

// Image.
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}