// Custom fonts.
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/icon?family=Material+Icons');

// Materialize stylesheet.
$roboto-font-path: "/dist/fonts/roboto/" !default;
@import "~materialize-css/sass/materialize.scss";

// Custom styling.
$buk-color: #EF5350;


/*
  Common style to all themes.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

hr {
  width: 14%;
  margin: 50px auto 50px auto;
  border: 0;
  border-top: 1px solid #dededc;
}

// Focused input style
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $buk-color;
  box-shadow: 0 1px 0 0 $buk-color;
}

// Focused label style
input[type=text]:focus:not([readonly])+label {
  color: $buk-color;
}

// Wrapper width.
@media only screen and (min-width: 601px) {
  #wrapper {
    width: 100%;
  }
}

// Code formatting.
code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

// Image.
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}