.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cli/.buukrc.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.vscode
cli/manifest.json
cli/buuk-config.js
static/manifest.json
