@import url(http://fonts.googleapis.com/css?family=Droid+Sans:300|Roboto+Slab:300);

#wrapper {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 700px;
  margin: 0 auto;

  p, ul, ol {
    color: rgb(51, 51, 50);
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  li {
    margin-bottom: 12px;
  }

  a {
    color: inherit;
  }

  h1, h2 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333332;
  }

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
  }

  blockquote {
    margin: 0;
    display: block;
    line-height: 1.5;
    color: #333332;
    font-style: italic;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
    margin-left: -26px;
    margin-bottom: 30px;
  }

  code {
    font-family: 'Roboto Slab', serif;
  }

  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
  }

  figcaption {
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #666665;
    font-style: italic;
    font-size: 14px;
  }

  hr {
    width: 14%;
    margin: 50px auto 40px auto;
    border: 0;
    border-top: 1px solid #dededc;
  }

  pre {
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    border: 0px;
  }
}